* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.45;
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.1;
}

p {
  margin: 0 0 1rem 0;
}

button {
  cursor: pointer;
}

.container {
  min-height: 100vh;
  background: linear-gradient(90deg, #66aeea, #0b65bd);
}
